body {
    margin: 10px;
}

h1 {
    font-size: 2rem;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 12px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}

button {
    padding: 2px 5px;
    margin: 3px 0px;
    background: rgb(128,0,128);
    color: white;
    border-radius: 5px;
    text-align: left;
}

.start-button {
    text-align: center;
    margin-top: 5px;
}

#submit-score {
    margin-left: 5px;
}

button:hover {
    background: rgb(128,0,128,0.7);
}

.quiz-intro {
    width: 500px;
    text-align: center;
    margin: auto;
}

.quiz-box {
    width: 500px;
    margin: auto;
}

.hide {
    display: none;
}

.final-score-box, .high-score-box {
    width: 500px;
    text-align: left;
    margin: auto;
}

.initials {
    display: flex;
    text-align: center;
    margin: 10px 0px;
    
}

.initial-text-input {
    height: 30px;
    margin-left: 5px;
}

.answer-button {
    display: grid;
    width: fit-content;
}

.high-score-entry {
    background: rgb(128,0,128,0.4);
    line-height: 1.5;
    padding: 5px 10px;
    margin: 5px 0px;
}

